body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

input, button {
  display: block;
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

#saida {
  margin-top: 20px;
  background: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
}

.tabela td {
  border-top: 1px solid rgb(60, 60, 124);
  border-right: 1px solid rgb(60, 60, 124);
  padding: 8px;
}

.popup {
  background-color: aliceblue;
  border: 1px solid #0056b3;
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  margin: 0 auto;
}

.headerPopup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#closePopup {
  width: 20px;
  height: 20px;
  padding: 1px;
}